body {
        font-family: 'Times New Roman', Times, serif, sans-serif;
        margin: 0;
        padding: 0px;
    }
      
header {
        background-color: #fff7b1;
        color: #f5bcbc;
      }
      
nav {
        display: flex;
        justify-content: space-between;
      }
      
nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        margin: 0 10px;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
      }
      
      main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      
      section {
        margin-top: 50px;
      }
      
      #hero {
        text-align: center;
      }
      
      #hero h1 {
        font-size: 3em;
        margin-bottom: 20px;
      }
      
      #hero p {
        font-size: 1.5em;
        margin-bottom: 40px;
      }
      
      #hero button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
      }
      
      #hero button:hover {
        background-color: #3e8e41;
      }
      
      #services ul {
        list-style: disc;
        margin-left: 20px;
      }
      
      #contact form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
      }
      
      #contact label {
        margin-top: 20px;
        font-weight: bold;
      }
      
      #contact input, #contact textarea {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
      }
      
      #contact button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
      }
      
      #contact button:hover {
        background-color: #3e8e41;
      }
      
      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
      }
    
   